<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="jgroups-simple" packages="">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" />
        </Console>
        <File name="tmp-file" fileName="/tmp/jgroups-raft.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="tmp-file" />
        </Root>
    </Loggers>
</Configuration>
